<div ng-controller="HomeController as vm">
    <form ng-submit="vm.startProcedure()">
        <div class="row">
            <div class="col-lg-12 m-b-60">
                <div class="input-group input-group-lg">
                    <input ng-model="vm.model.query" type="text" class="form-control" placeholder="Search for images...">
                    <span class="input-group-btn">
                        <button ng-disabled="vm.isBusy" class="btn btn-primary" type="submit">
                            Start the test
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div class="row loader-wrapper">
        <div ng-if="vm.isBusy" class="loader-overlay">
            <div class="loader"></div>
        </div>
        
        <div ng-if="vm.isInitialised">
            <image-fetch name="Google Custom Search API v1 (server side)"
                         data="vm.results.google"></image-fetch>
            
            <image-fetch name="Bing Image Search API v5 (server side)"
                         data="vm.results.bing"></image-fetch>

            <image-fetch name="Instagram Tag API v1 (server side)"
                         data="vm.results.instagram"
                         margin-after="false"></image-fetch>
        </div>
    </div>

    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'limit': 5}"></toaster-container>
</div>

<script type="text/ng-template" id="image-fetch.html">
    @Html.Partial("Angular/ImageFetchNg")
</script>